* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.estatura,
.balanza {
	width: fit-content;
}

.resultado {
	width: fit-content;
}

.fcontent {
	width: fit-content;
}

.fcontent input {
	height: 2rem;
	width: 24rem;
}

.card {
	width: 18rem;
}

.tachado {
	text-decoration: line-through;
}
